<div>
  <h2>This is the Navbar component (will see if it loads properly!</h2>
  <button> <a href = "/signin" id= "signup" >Sign In</a></button>
  <button> <a href = "/signup" id= "signin" >Sign Up</a></button>
</div>