<form action="">
  <label for="name">Skill Name</label>
  <input type="text" name="name" placeholder="Enter the skill name">
  <label for="attribute">Related Attribute</label>
  <select name="attribute" id="relatedAtt">
    <option value="Agl">Agility</option>
    <option value="Bod">Body</option>
    <option value="Str">Strength</option>
    <option value="Reac">Reaction</option>
    <option value="Log">Logic</option>
    <option value="Will">Willpower</option>
    <option value="Int">Intuition</option>
    <option value="Cha">Charisma</option>
  </select>
</form>