<div class="connect-panel-wrapper">
    <div class="panel panel-default content-wrapper" id="connect-panel">
      <div class="panel-heading">
        <h3 class="panel-title">Connect With Me</h3>
      </div>
      <div class="panel-body connect-panel-body">
        <div class="icons">
          <!-- Begin Icon Section -->
          <!-- Git Hub Icon -->
          
        </div>
        <!-- End Icons -->
      </div>
    </div>
</div>