<script>
  let sampleData = {{{data}}}
  console.log(sampleData.attrs[0])

</script>
{{>navPanel}} 
  <div class="mainbody">
    <div class="maincontent">
      <!-- ABOUT ME -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> 
          </h3>
        </div>


        <div class="panel-body">
          <div>
            <div>

            </div>
          </div>

        </div>
      </div>
    </div>

    {{>connect}}

  </div>
   {{>footer}}

